<a href="https://colab.research.google.com/github/aandressena/BOOTCAMP-Course/blob/main/Curriculum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Dados

In [147]:
import pandas as pd

In [159]:
nome = 'Andre Sena Machado'
idade = 27
contato = ['andresena.m@gmail.com', 5521972783508]

In [149]:
trajetoria_profissional = {
    'Empresa': ['TekFlow', 'Anjusclean', 'Marama', 'Rede DOr'],
    'Cargo': ['Tecnico em Eletronica', 'Recepcionista Bilingue', 'Gerente de vendas', 'Recepcionista'],
    'Ano': [2014, 2016, 2017, 2021],}
experiencia = pd.DataFrame(trajetoria_profissional)

In [150]:
lista_de_idiomas = ['english', '日本語', 'LIBRAS', 'italiano', 'français', 'python']

In [151]:
lista_de_cursos = ["Microsoft Power BI Para Data Science - DSA",
          'Python Fundamentos Para Análise de Dados - DSA',
          'Business Inteligence - SQL Server and Analysis Services - UDEMY',
          'Google IT Support Professional - Coursera',
          'BOOTCAMP Data Science, Machine learning and A.I. - Instituto INFNET'
]

### Funções

In [152]:
def dados_pessoais(x):
  print(f'{nome} ~ {idade} anos')
  print(contato[0])
  print(contato[1])

In [153]:
def idiomas(x):
  for idioma in lista_de_idiomas:
    if idioma == 'français' or idioma == 'python':
      print(idioma + ' ~')
    else:
      print(idioma + ' ✓')

In [154]:
def atividades_extras(x):
  for curso in lista_de_cursos:
    print(curso)

# Curriculum

In [160]:
dados_pessoais('Andre')

Andre Sena Machado ~ 27 anos
andresena.m@gmail.com
5521972783508

In [156]:
experiencia

      Empresa                   Cargo   Ano
0     TekFlow   Tecnico em Eletronica  2014
1  Anjusclean  Recepcionista Bilingue  2016
2      Marama       Gerente de vendas  2017
3    Rede DOr           Recepcionista  2021

In [157]:
idiomas('Andre')

english ✓
日本語 ✓
LIBRAS ✓
italiano ✓
français ~
python ~

In [158]:
atividades_extras('Andre')

Microsoft Power BI Para Data Science - DSA
Python Fundamentos Para Análise de Dados - DSA
Business Inteligence - SQL Server and Analysis Services - UDEMY
Google IT Support Professional - Coursera
BOOTCAMP Data Science, Machine learning and A.I. - Instituto INFNET